.grid-container {
    display: inline-grid;
    grid-gap: 5px;
    margin-left: 20%;
}

.grid-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    min-height: 10px;
    min-width: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game {
    position: absolute;
    top: 40%;
    left: 45%;
    margin: 0 auto;
}

.game-result{
    position: absolute;
    top: 40%;
    left: 30%;
    margin: 0 auto;
}

.game-link {
    padding-left: 20%;
}

input {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#game-container {
    width: 50%;
    margin: 0 auto;
}

.game-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 270px 270px;
    margin-left: 20%;
    margin-bottom: 5%;
    grid-gap: 15px;
}

.game-info_score{
    display: grid;
    grid-template-columns: auto 40px ;
    padding-left: 20px;
}
.game-info_best-result{
    display: grid;
    grid-template-columns: auto 40px ;
}

#game-status,#game-play-again{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

